body {
    background-color: rgb(33, 33, 33);
}

strong {
    color: #666
}

li>p>a {
    color: #555;
}

h3 {
    margin-top: 0.3em;
}

div.top {
    background: pink;
}

div.top,
div.side {
    text-align: center;
}

div.side {
    background-color: rgba(0, 0, 0, 0.192);
    max-height: 3.25em;
}

h1.logo,
ul {
    margin-top: 0%;
    margin-bottom: 0%;
}

div.content,
ul,
li {
    padding: 0.8em;
}

ul.menu,
ul.menu li {
    display: inline;
    font-size: 1.1em;
}

ul.week,
ul.week>li,
div.content {
    padding-bottom: 0;
    padding-top: 0;
}

ul.week,
ul.week>li {
    display: inline-block;
}

ul.week>li:hover {
    background-color: rgba(255, 255, 255, 0.055);
}

div.content {
    border: solid rgba(255, 255, 255, 0.055);
}

img.album {
    padding-right: .8em;
}

span.rating_good,
span.rating_mid,
span.rating_bad {
    font-weight: bold;
}

span.rating_good {
    color: rgb(48, 230, 48);
}

span.rating_mid {
    color: rgb(230, 212, 48);
}

span.rating_bad {
    color: rgb(230, 48, 48);
}